div(class='header', id='header')
  img(class='mission-logo',src='/images/365.jpg', alt='')
  h1=fullTitle
  .title-container
    .title: h2=title
    .subtitle=subtitle
.nav-menu
  ul(class='menu')
    li(class="menu-item")
      a(href='/cards') Cards
    li(class="menu-item active")
      a(href='/get-involved') Get Involved