/* Media Queries */

/* Mobile */
@media (max-width: 850px) {

    .header > h1 {
       display: none;
    }
    
    .title-container {
        display: flex;
        flex-flow: column;
    }

    .title-container .subtitle {
        font-weight: 600;
        color: rgb(138 43 226);
        font-style: italic;
    }

    .overlay .selected-image-container {
        flex-flow: column;
    }

    .overlay .selected-image-holder {
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
    }

    .overlay .selected-image-description {
        width: initial;
        border-top-right-radius: 0px;
    }

    .overlay .description-text {
        padding: 10px;
        height: 60%;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .overlay .description-date {
        bottom: 10px;
        right: 10px;
    }
}

@media (max-height: 450px) {
    .overlay .description-text {
        position: relative;
        top: 0;
        left: 0;
        width: 64%;
        height: 100%;
    }    
    
    .overlay .description-title {
        position: absolute;
        top: 10px;
        right: 10px;
        width: initial;
        font-size: 20px;
    }
}

/* Tablet */
@media (max-width: 1000px) {
    .overlay .nav-button.prev {
        left: -10%;
    }
    
    .overlay .nav-button.next {
        right: -10%;
    }   
}


/* Tablet */
@media (min-width: 576px) {
    .images-container .card-drawing {
        max-width: 244px;
    }
}