html,
body {
  height: 100%;
}

body {
  position: relative;
}

/* START Scrollbar */
body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 6px rgba(0 0 0 / 30%); */
  border-radius: 7px;
}

body::-webkit-scrollbar-track-piece {
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(65, 105, 225);
  border-radius: 7px;
}
/* END Scrollbar */

/* START Header */
.header {
  display: flex;
  position: relative;
  width: 100%;
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid rgb(204 204 204 / 20%);
  background: linear-gradient(to right, rgb(116, 200, 240), transparent);
  /* margin-bottom: 20px; */
}

.header .mission-logo {
  position: relative;
  height: 88px;
  box-shadow: 2px 2px 5px 2px rgba(0 0 0 / 15%);
}    

.header > h1 {
  flex-grow: 1;
  font-size: 4rem;
}

.title-container {
  display: none;
  position: relative;
  margin-left: 70px;
  width: inherit;
}
/* END Header */

/* START Footer */
footer {
  padding: 10px;
  width: 100%;
  background: linear-gradient(to right, rgb(116, 200, 240), transparent);
  color: rgb(0 0 0);
  position: relative;
  bottom: 0;
  left: 0;
  font-size: 10px;
}
/* END Footer */

/* START Content Container */
.container-fluid {
  margin-bottom: 50px;
}
/* END Content Container */

/* START Images Container*/
.images-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1439px;
  margin: auto;
  justify-content: center;
}

.images-container .card-drawing {
  flex-grow: 1;
  padding: 20px;
  max-width: 525px;
  cursor: pointer;
  margin: 10px;
}

.images-container .card-drawing:hover {
  transform: scale(1.025);
}

.images-container .card-drawing::after {
  content: attr(data-cardfor);
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  background-color: rgb(65, 105, 225);
  color: rgb(255 255 255);
  border: 1px solid rgb(221, 221, 221);
  padding: 10px;
}

.images-container img {
  width: 100%;
  min-width: 200px;
  height: 250px;
  box-shadow: 0px 0px 10px rgba(0,0,0,.5);
} 

.more-to-come {
  display: block;
  margin: auto;
  margin-top: 20px;
  color: #000;
  font-size: 30px;
  text-align: center;
}

/* END Images Container */

.hide {
  display: none;
}

/* START Site Navigation */
.nav-menu {
  /* background: #bbb; */
  border-bottom: 1px solid rgba(0 0 0 / 15%);
  margin-bottom: 20px;
}

.nav-menu ul{
  display: flex;
  flex-flow: row;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

.nav-menu li {
  margin: 0px;
  list-style: none;
  /* background-color: rgb(77 124 255); */
  /* color: #fff; */
  /* padding: 15px; */
  font-size: 20px;
  border-right: 1px solid #ccc;
  cursor: pointer;
  text-align: center;
  /* min-width: 125px; */
  border-bottom: 5px solid transparent;
}

.nav-menu a {
  text-decoration: none;
  padding: 15px;
  min-width: 125px;
}

.nav-menu li.active,
.nav-menu li:hover {
  border-bottom: 5px solid rgb(77 124 255);
  background-color: rgb(231 237 255);
}

/* END Site Navigation */

.banner-wrapper {
  max-width: 900px;
  margin: 0 auto; 
  margin-bottom: 40px;
}

.container-wrapper {
  max-width: 900px;
  margin: 0 auto 20px; 
  font-size: 1.25rem;
  border: 1px solid #000;
  padding: 20px;
  box-shadow: 5px 5px 10px rgba(0,0,0,.5);
  margin-bottom: 30px;
  background-color: #fff;
}

.learn-more {
  display: inline-block;
  padding: 10px 20px;
  background-color: blue;
  border-radius: 10px;
  color: #fff;
}

.learn-more a {
  text-decoration: none;
}

.impact {
  background-color: #000;
  color: #fff;
  padding: 5px;
}

.image-content {
  display: flex;
  flex-flow: row;
}

.image-content .content {
  flex-grow: 2;
}

.image-content .image {
  flex-grow: 1;
  padding: 15px;
}

.image-content .i-200 {
  width: 200%;
}

.i-200 img {
  width: 100%;
}
